<!doctype html>
<title>S3 Info</title>
<head>
  <meta charset='utf-8'>
</head>
<style>
	body{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
</style>
<body>
<div style="background-color:#e5e5e5 !important;">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px">
                <img src="https://data.fpt.vn/Styles/images/logo.png" alt="Logo" width="120">
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffffaa;padding-left:20px;padding-right:20px;padding-bottom:20px;width:100%;max-width:650px;margin:0 auto;">
    <tbody>
        <tr>
            <td>
                <p style="font-size:16px;line-height:26px;font-weight:bold;margin:30px 0 6px">
                    Xin chào {{ user }},
                </p>

                <p style="line-height:20px;margin:0">
                    User S3 của bạn đã được khởi tạo xong. Dưới đây là thông tin chi tiết:
                </p>
                <br/>
                <br/>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;border:solid 2px #5eaff0;padding-bottom:10px;">
                    <thead bgcolor="#5eaff0" align="left">
                      <tr>
                        <th colspan="2" style="text-align:left;padding-top:10px;padding-left:15px;padding-bottom:10px;color:#fff">Thông tin User</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">Tên đăng nhập:</td>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">{{ uid or '' }}</td>
                      </tr>
                      <tr>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">Password:</td>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">{{ password or '' }}</td>
                      </tr>
                      <tr>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">Tên đầy đủ:</td>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">{{ display_name or '' }}</td>
                      </tr>
                      <tr>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">Email:</td>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">{{ email or '' }}</td>
                      </tr>
                      <tr>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">Max size:</td>
                        <td valign="bottom" style="padding-left:15px;padding-top:10px;">{{ max_size_kb or '' }}</td>
                      </tr>

                    </tbody>
                </table>
                <br/>
                <p style="line-height:20px;margin:0">
                    Xin cám ơn và chúc bạn một ngày tốt lành.
                </p>

                <a href="https://s3.fptvds.vn/"
                   style="width:300px;height:40px;display:block;margin:0 auto;background:#5eaff0;color:#fff;line-height:40px;margin:30px auto 40px;text-align:center;text-decoration:none;border:0"
                   target="_blank">
                    <b>ĐĂNG NHẬP HỆ THỐNG S3</b>
                </a>
                <p style="margin:20px 0 0;font-size:12px;color:#9b9b9b">Nếu bạn cần thêm hỗ trợ, đừng ngần ngại gọi số hotline <b>024 7300 2222</b> hoặc gửi mail đến địa chỉ <a style="color:#3591e2" href="mailto:ftel.ftihn.idc@fpt.com.vn" target="_blank">ftel.ftihn.idc@fpt.com.vn</a>, chúng tôi sẽ trợ giúp bạn nhanh nhất có thể.</p>
            </td>
        </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#e5e5e5;padding:20px;width:100%;">
    </table>

    <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
    <tbody>
        <tr>
            <td align="center" style="padding-bottom:40px;padding-top:40px;color: #aaaaaa">
                © 2020 FPT Telecom Ltd.
            </td>
        </tr>
    </tbody>
    </table>
</div>
</body>
